<h1>Hyomed</h1>

<h2>About This Application</h2>
<p>I dreaded every time I had to fill out the form about my medical information when I see a new doctor. My hope is that this application would help patients securely send their private medical information to their medical professionals. You only need to fill out your medical information once.</p>

